body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section{
    height: 600px;
    width: 500px;
    border: 1px solid black;
}
#inputDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    height: 30px;
    width: 80%;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}
.location{
    margin-top: 20px;
    margin-left: 10px;
    background-color: wheat;
    border: none;
    border-radius: 5px;
}
.currentWeatherDiv{
    height: 520px;
    width: auto;
    border-bottom: 1px solid black;
    /* margin: 20px; */
    margin-top: 30px;
    padding-top: 10px;
}
#imgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#temperatureDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#cityNameDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Hour24Div{
    display: flex;
    justify-content: space-evenly;
    overflow-x: scroll;
    gap: 40px;
}